.flex{
    display: flex;
    gap: 2;
    justify-content: space-between;
}

.card{
    width: 15em;
    height: 15em;
    background: #2b0808;
    border-radius: 5px;
}

#product-name{
    
    font-weight: bold;
    font-size: 30px;
    margin: 0;
}

button{
    float: right;
    margin: 5px;
    outline: none;
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(116, 116, 255);
}